<a href="https://colab.research.google.com/github/ahmadmirza17/student-linear-regression-analysis/blob/main/student_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [21]:
from google.colab import files
uploaded = files.upload() 
import io 

df = pd.read_csv(io.StringIO(uploaded['student-mat.csv'].decode('utf-8')), sep=';')

Saving student-mat.csv to student-mat (3).csv

In [22]:
df

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [23]:
df = df[['G1', 'G2', 'G3', 'studytime', 'failures', 'absences']]
df

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [24]:
df.index

RangeIndex(start=0, stop=395, step=1)

In [28]:
predict = 'G3'
X = np.array(df.drop([predict], 1))
Y = np.array(df[predict])
x_train , x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.1)

linear = linear_model.LinearRegression()

linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test)
print(acc)

0.8871755728922313

In [27]:
print('Coefficient: \n', linear.coef_)
print('Intercept: \n', linear.intercept_)

Coefficient:
 [ 0.13481574  0.99156228 -0.12549895 -0.28336755  0.04803847]
Intercept:
 -1.5993292464219646

In [29]:
predictions = linear.predict(x_test)

for x in range(len(predictions)): 
  print(predictions[x], x_test[x], y_test[x])

7.862752791068491 [7 9 2 2 6] 8
9.777698464595332 [10 10  2  1 14] 9
8.293782757085369 [10  9  3  0  2] 8
11.3324501422074 [12 12  4  0  1] 12
5.309951125606476 [6 7 2 3 0] 0
10.527518495513442 [11 11  2  0  0] 10
4.8529788564522685 [8 6 2 2 2] 5
7.967381716253932 [10  8  2  0 14] 9
8.686296695698275 [9 9 1 0 6] 10
9.835463376560929 [11 10  2  1 12] 10
8.405267390034616 [9 9 1 2 8] 9
18.419974204012554 [19 18  3  0  0] 19
12.818698298296221 [12 13  2  0  4] 13
14.391283969245551 [15 14  2  0  8] 14
10.666021547377312 [12 11  2  0  0] 12
8.501526340358158 [9 9 2 0 6] 10
10.146480176343863 [ 9 11  3  0  2] 11
13.50842096866988 [12 14  3  0  1] 15
16.3129230613481 [16 16  4  0 12] 16
6.314378753017224 [8 7 1 0 0] 6
8.231972654137827 [ 6  9  1  2 14] 8
16.27877307253697 [16 16  2  0  2] 17
10.519979837814958 [ 9  9  2  0 56] 8
12.87646321026182 [13 13  2  0  2] 11
-1.162866658455151 [7 0 3 0 0] 0
13.683269888546963 [15 14  3  2  4] 15
5.806334990473124 [7 7 3 0 0] 8
15.14466978511192 [15 15  2  0  2] 16
12.226788762226398 [12 12  2  0 14] 12
5.909909788927302 [8 7 2 3 8] 8
6.129608397677108 [8 7 2 0 0] 8
15.955499665332985 [15 16  3  0  2] 18
6.894609125742733 [ 9  7  2  1 20] 8
11.857568899157064 [13 12  3  0  6] 12
-1.6129832198455516 [5 0 1 3 0] 0
5.1569813900486015 [7 6 2 0 4] 6
5.586957229334214 [8 7 2 3 0] 0
17.193635168199883 [16 17  2  0  0] 17
4.328755667811075 [6 5 1 0 7] 6
18.512508810965052 [17 18  1  0  0] 18